name: 'Build serpentian lily58'
on: workflow_dispatch
jobs:
  build:
    uses: ./.github/workflows/main.yml
    secrets: inherit
    with:
      board: '["nice_nano"]'
      shield: '["lily58_right","lily58_left"]'
      alphas: '["QWERTY"]'
      kconfig: '["CONFIG_ZMK_DISPLAY=y\nCONFIG_ZMK_POINTING=y\nCONFIG_ZMK_WIDGET_BATTERY_STATUS_SHOW_PERCENTAGE=y"]'
      modules: '["mctechnology17/zmk-nice-oled/main"]'
